body {
        
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.container {
    max-width: 100%;
    margin-top: 0;
    border-top: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  
}
.navigation-bar {
    display: flex;
    color: #fff;
    padding: 8px;
    padding-bottom: 0;
}

.tab {
    flex: 1;
    display: flex; /* Use flexbox for inner content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000000;
    min-width: 100px; /* Adjust the width as needed */
    padding: 5px;
    text-align: center;
    margin-right: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

}
.tab:hover {
    background-color:#a9e4bd;
    text-decoration: none;
    color: #000000;
}

.active {
    background-color: #aee0bf;
    border: 1px solid #a4fec2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.laman {
    background-color: #fc1414;
    
    border-top: none;
}
a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;

}
.cbutton {
    background-color: #3F51B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cbutton:hover {
    background-color: #2F408B;
  }
  .simple {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  .simple:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }