
table {
    width: 100%;
    border: none;
    font-size: 14px;
}
tr {
    margin-bottom: 5px; 
}
th {
    text-align: left;
    padding: 8px;
    margin-right: 0;
    color: #394263;
    width: 20%;
}
td {
    text-align: left;
    padding: 8px;
    text-transform: uppercase;
    width: 30%;
}
h5 {
    color: #648ca6;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
    padding: 10px;
}
.btn {
    width: 75px;
}
.button {
    background-color: #3F51B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #2F408B;
  }